.cardContainer{
    display:grid;
    grid-template-rows: 100px, 100px, 100px;
    grid-template-columns: 100px, 100px, 100px;
    margin: 10px;
    
}
    
.card {
    width: 300px;
    height: 350px; 
    margin: 15px;
    padding: 5px;
    background-color:  #ccac44;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
    box-shadow: 
    0 0 5px rgb(255 240 243),
    0 0 7px rgb(255 204 213),
    0 0 10px rgb(255 179 193),
    0 0 12px rgb(255 143 163),
    0 0 14px rgb(255 117 143),
    0 0 16px rgb(255 77 109);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    color: #a40411;
    border-color: #121010;
    border-width: 1px;
    
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
}

.imgcard{
    height: 260px;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 90px;
    border-color: #121010;
}

.cardinfotext {
    display: inline-grid;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    padding: 1px;
    background-color: #8b0510;
    color:white;
    max-width: 250px;
    height: 30px;
    width: 240px;
    margin-left: -18px;
    border-radius: 15px;
    white-space:pre;
    text-overflow: ellipsis;
}

.nametxt {
    white-space:pre;
    display: inline-block;
    text-overflow: ellipsis;
    max-height: 2px;
    color:#731502;
    margin: -1px;
    font-size: 16px;
}




