.searchbar {
border: solid transparent;
border-radius: 3px;
padding: 0.5em;
background: rgb(248, 249, 182) 25%;
color: rgb(0, 0, 0);
margin-right: 0.5em;
width: 20vw;
margin-top: 12px;

}
.button {
border: solid transparent;
border-radius: 3px;
padding: 0.5em;
background: rgb(240, 213, 78);
color: rgb(107, 4, 4);
transition: .3s;
font-weight: bold;
}
.button:hover {
background: rgb(137, 22, 22) 25%;
box-shadow: 5px 5px 5px 1px #6f686f;
}