.navBar{
  background-image: url('../../assets/BannerNeónAzulVioletaChico.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: monospace;
  display: inherit;
  font-size: 20px;
  font-weight: bold;
  padding: auto;
  border-bottom: 8px;
  border-bottom-style:groove;
  border-bottom-color: rgb(205, 3, 164, 0.6);
  
}
  .ulnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    .linav {
      float: left;
      margin-left: 10px;
    }
    .linav :hover:not(.active) {
      background-color: rgb(202, 12, 219);
     
    }
  .navitem{ 
      display: block;
      color: rgb(217, 241, 36);
      text-align: center;
      padding: 18px 19px;
      text-decoration: none;
      font-weight: bold;
      font-size: 25px;
      background-color: transparent;
      -webkit-text-stroke: 1px rgb(169, 4, 4);
      border-color: transparent;
    }
    .active {
      background-color: #730606;
      float: right;
    }

    .home{
      font-size: large;
      margin-top: 12px;
      margin-left: 10px;
    }
    .back{
      display:block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color:rgb(83, 20, 20);
      font-weight: bold;
      background-color:rgb(240, 213, 78);
      margin-left:1200px;
      
      
    }